

.dressprop{
    width: 230px; /* Adjust width */
    height: 300vh; /* Full height of the viewport */
    background-color: #d1cbcb; /* Example background color */
    position:relative;
    top: 0;
    left: 0; /* Position the box on the left side */
 
    z-index: 1;
}